[Unit]
Description=accounts service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/ms-jars
ExecStart=/usr/bin/java -jar ms-play-accounts.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target